apiVersion: apps/v1
kind: Deployment
metadata:
  name: bet
  labels:
    app: bet

spec:
  replicas: 2
  selector:
    matchLabels:
      app: bet
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 3
  template:
    metadata:
      labels:
        app: bet
    spec:
      containers:
        - name: auth
          image: bryanwsebaraj/bet
          ports:
            - containerPort: 7000
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: bet-configmap
            - secretRef:
                name: bet-secret