apiVersion: batch/v1
kind: CronJob
metadata:
  name: get-new-games-cronjob
spec:
  schedule: "0 1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: get-new-games
              image: bryanwsebaraj/update:1.0
              args: ["getNewGames"]
              envFrom:
                - configMapRef:
                    name: update-configmap
                - secretRef:
                    name: update-secret
          restartPolicy: OnFailure